.Expense {
  position: relative;
  background-color: white;
  width: 80%;
  height: 30%;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #ccc;
  padding: 30px;
  margin: 20px;
  align-content: center;
}

/* div {
  align-content: center;
  color: red;
  align-items: baseline;
} */

/* form {
  display: inline-block;
  color: red;

  margin-top: 2em;
} */

/* input {
  display: inline-flexbox;
  margin: 5px;
} */