.Expense {
  background-color: white;
  height: 35%;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #ccc;
  padding: 30px;
  align-content: center;
  display: flex;
}

span {
  display: inline-block;
  margin: 0.3em;
}

.Button {
  margin: 1em;
}

/* div {
  align-content: center;
  color: red;
  align-items: baseline;
} */

/* form {
  display: inline-block;
  color: red;

  margin-top: 2em;
} */

/* input {
  display: inline-flexbox;
  margin: 5px;
} */
