/* .App {
  position: relative;
  width: 100%;
  box-shadow: 1px 1px 1px #ccc;
  /* padding: 2em; */
/* margin: auto; */
/* align-content: center; */
/* } */

@font-face {
  font-family: "Koodak_Bold";
  src: local("Koodak_Bold"), url(./assets/fonts/Koodak_Bold.ttf) format("ttf");
}

@font-face {
  font-family: "IRANSans";
  src: local("IRANSans"), url(./assets/fonts/IRANSans.ttf) format("ttf");
}

* {
  font-family: "Koodak_Bold", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.Child {
  padding: 2em;
}

.Report {
  float: right;
  clear: both;
  margin-bottom: 1em;
  font-family: "Koodak_Bold", "IRANSans", "Segoe UI", Tahoma, Geneva, Verdana,
    sans-serif;
}
