/* .App {
  position: relative;
  width: 100%;
  box-shadow: 1px 1px 1px #ccc;
  /* padding: 2em; */
/* margin: auto; */
/* align-content: center; */
/* } */

.Child {
  padding: 2em;
}

.Report {
  float: right;
  clear: both;
  margin-bottom: 1em;
  font-family: "Koodak_Bold" "IRANSans" "Segoe UI", Tahoma, Geneva, Verdana,
    sans-serif;
}

@font-face {
  font-family: "IRANSans";
  src: local("IRANSans"), url(./assets/fonts/IRANSans.ttf) format("ttf");

  font-family: "Koodak_Bold";
  src: local("B Koodak Bold_0"),
    url(./assets/fonts/Koodak_Bold.ttf) format("ttf");
}
